<p id="notice"><%= notice %></p>

<%= @milestone.date %>
<%= @milestone.post %>

<h2>Comments</h2>
<%= form_for [@milestone, Comment.new] do |f| %>
    <p>
      <%= f.label :content %><br />
      <%= f.text_area :content %>
    </p>
    <p><%= f.submit "Submit" %></p>
  <% end %>

  <% @milestone.comments.each do |comment| %>
    <div>
      <strong><%= comment.user_name %></strong>
      <br />
      <p><%= comment.content %></p>
      <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div>
  <% end %>


<%= link_to 'Edit', edit_milestone_path(@milestone) %> |
<%= link_to 'Back', milestone_path %>
