<div class="form-control">

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field form-group">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, :placeholder => "First Name", autofocus: true %>
  </div>

  <div class="field form-group">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, :placeholder => "Last Name", :class => 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :username %><br />
    <%= f.text_field :username, :placeholder => "User Name", :class => 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, :placeholder => "Email Address", :class => 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", :placeholder => "Password", :class => 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Password Confirmation", :class => 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
