<!-- Header Starts -->
<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to "booksie", authenticated_root_path, :id => 'logo' %>
          <!-- <img alt="Brand" src="..."> -->
      </div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right dropdown">
          <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
            <li class="active"><%= link_to 'Edit profile', edit_user_registration_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        </ul>
        <ul class="nav nav-pills navbar-right">
        <% else %>
            <!-- Login Modal  -->
                <div class="col-md-4 col-xs-4">
                    <a id="login" href="#" data-toggle="modal" data-target="#myPhotoModal">Login</a>
                        <!-- Login Modal -->
                  <div class="modal fade" id="myPhotoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title text-center" id="myModalLabel">Log In</h4>
                        </div>
                        <div class="modal-body">
                          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                            <div class="field">
                              <%= f.label :email %><br />
                              <%= f.email_field :email, autofocus: true %>
                            </div>
                            <div class="field">
                              <%= f.label :password %><br />
                              <%= f.password_field :password, autocomplete: "off" %>
                            </div>
                            <% if devise_mapping.rememberable? -%>
                              <div class="field col-md-4">
                               <%= f.check_box :remember_me %>
                               <%= f.label :remember_me %>
                              </div>
                            <% end -%>
                            <div class="actions">
                              <%= f.submit "Log in", class: 'btn btn-default' %>
                            </div>
                          <% end %>
                          <%= render "devise/shared/links" %>
                        <div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<!-- Header End -->

<!-- Jumbotron - Includes Sign-up section -->
<div class="jumbotron">
  <div class="container col-xs-12 col-md-7">
    <h1>Welcome to booksie!</h1>
    <h3>A safe space to share precious memories with the ones you love</h3>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 sign-up-form">
  <h2>Sign in to get started!</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="row">
        <div class="field col-md-6">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autofocus: true %>
        </div>
        <div class="field col-md-6">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name %>
        </div>
      </div>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
      <div class="actions">
        <%= f.submit "Create a booksie!", :class => 'btn btn-default' %>
      </div>
      <div>
        <%= link_to "Already have an account? Login Here", new_user_session_path %>
      </div>
    <% end %>
  </div>
</div>
<hr>

<!-- Supporting Container Area -->
<div class="container supporting">
  <div class="row">
    <h1>What is Booksie?</h1>
      <div class="col-md-4 text-center">
        <i class="supporting-icon fa fa-key fa-5x"></i>
          <h3>Secure</h3>
          <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
      </div>
    <div class="col-md-4 text-center">
      <i class="supporting-icon fa fa-users fa-5x"></i>
        <h3>Share</h3>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
       </p>
    </div>
    <div class="col-md-4 text-center">
      <i class="supporting-icon fa fa-th fa-5x"></i>
        <h3>Curate</h3>
        <p>Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
  </div>
</div>
<hr>

<!-- Testimonial Area -->
<div class="testimonial-container">
  <div class="container">
    <h1>What people are saying:</h1>
      <div class="testimonial">
        <ul>
          <li>
            <h3>Emily, from Chicago, IL</h3>
            <p>"I love being able to share pictures with my family without posting all over Facebook. There are some real creeps out there...</p>
          </li>
          <li>
            <h3>Lauren, from New York, NY</h3>
            <p>"What a time saver! Until now I haven't been able to find one place to keep all of my children's memories in one place."</p>
          </li>
          <li>
            <h3>Amanda, from Seattle, WA</h3>
            <p>"Booksie has been a blessing. It has made it so easy to share what is going on in my kids lives with my mom. She LOVES it!"</p>
          </li>
          </ul>
      </div>
  </div>
</div>
