
<%if @video.errors.any? %>
  <div id="error_explanation">
    <h2><% pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

    <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(Video.new) do |f| %>

    </div>
  <%= f.date_field :date %>
  <%= f.file_field :video %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
