<%= render 'layouts/header' %>
<div class="container">
<p id="notice"><%= notice %></p>
<div class="text-center">
  <%= video_tag(@video.video.url, controls: true) %>
  <p>Tagged with: <%= raw @video.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %></p>
  <p><%= link_to 'Back', :back %></p>
</div>

<div class="comment-form">
  <%= form_for [@video, Comment.new] do |f| %>
    <p>
      <%= f.label "Leave a Comment..." %><br />
      <%= f.text_area :content %>
    </p>
      <p><%= f.submit "Submit", :class => 'btn btn-default comment-btn' %></p>
    <% end %>
</div>
<div class="comments-list">
    <% @video.comments.each do |comment| %>
      <div>
        <hr>
        <strong><%= comment.user_name %></strong>
        <div>
          <%= comment.content %>
          <%= link_to comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'comment-content' do %>
          <i class="fa fa-times pull-right"></i>
        <% end %>
        <hr>
        </div>
      </div>
    <% end %>
  </div>
</div>
