<h2><%= t "devise.invitations.new.header" %></h2>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>
<div>
<% resource.class.invite_key_fields.each do |field| -%>
  <p><%= f.label field %><br />
    <%= f.text_field field %></p>

  <%# f.email_field field, name: "user[email][]", placeholder: "Invitation email", required: true %></p>
  <!-- <div id="createNewTextbox">
  </div>
  <a id="btnLinkCreate" href="#">
    + INVITE MORE
  </a> -->
<% end -%>
</div>
  <p><%= f.submit t("devise.invitations.new.submit_button") %></p>
<% end %>
