<p id="notice"><%= notice %></p>

<h1>Listing Photos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= image_tag(photo.image) %></td>
        <td>

    <% end %>

      <% @videos.each do |video| %>

        <td><%= video_tag(video.video.url, controls: true) %></td>


    <% end %>

  <% @milestones.each do |milestone| %>
    <%= @milestone.date %>
    <%= @milestone.post %>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_photo_path %>
