<%= render 'layouts/header' %>
<div class="container col-md-12">
  <h1>Showing all things tagged with:</h1>
  <h2>Photos</h2>
    <% @photos.each do |photo| %>
  <div class="tagged-photos col-md-3">
      <%= image_tag photo.image.url (:thumb) %>
      <p><%= photo.date %></p>
  </div>
      <% end %>
  <div class="tagged-videos col-md-12">
    <h2>Videos</h2>
      <hr>
      <% @videos.each do |video| %>
        <%= video_tag(video.video.url, controls: true) %>
      <% end %>
  </div>
  <div class="tagged-milestones col-md-12">
    <h2>Milestones</h2>
    <hr>
      <% @milestones.each do |milestone| %>
        <%= milestone.date %>
        <%= milestone.post %>
      <% end %>
  </div>
</div>
