<%= render 'layouts/header' %>
<div class="container">
  <p id="notice"><%= notice %></p>
    <div class="individualPhoto text-center">
      <%= image_tag(@photo.image.url, :class => "showImage") %>
      <p>Tagged with: <%= raw @photo.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %></p>
    </div>
    <div class="caption">
      <%= @photo.caption %>
    </div>

    <div class="comments">
      <hr>
      <h2>Comments</h2>
      <hr>
      <div class="comment-form">
      <%= form_for [@photo, Comment.new] do |f| %>
          <p>
            <%= f.label "Leave a Comment..." %><br />
            <%= f.text_area :content %>
          </p>
          <p><%= f.submit "Submit", :class => 'btn btn-default comment-btn' %></p>
        <% end %>
      </div>
      <div class="comments-list">
        <% @photo.comments.each do |comment| %>
          <div>
            <hr>
            <strong><%= comment.user.name %></strong>
            <div>
              <%= comment.content %>
              <%= link_to comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'comment-content' do %>
              <i class="fa fa-times pull-right"></i>
            <% end %>
            <hr>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
