<hr>
<div class="">
  <div class="container col-md-8">
    <!-- Photo Gallery -->
      <div class="row">
        <h2 class="text-left">Photo Gallery</h2>
          <hr>
           <div id="tag_cloud">
           <p>Recently Used Tags:
            <% tag_cloud @photos.tag_counts, %w[l] do |tag, tags| %>
              <%= link_to tag.name, tag_path(tag.name, booksie_page_id: @booksie_page.id), class: 'taggable-tags' %>
            <% end %>
            </p>
          </div>
        <hr>
        <% @photos.each do |photo| %>
         <div class="col-md-3 col-sm-4 col-xs-6">
        <%= link_to photo do %>
          <%= image_tag photo.image_url(:thumb) %>
        <% end %>
          <p><%= photo.date %>
            <%= link_to photo, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-times pull-right"></i>
            <% end %>
          </p>
         </div>
        <% end %>
    </div>

    <!-- Video Gallery -->
      <div class="row">
        <h2 class="text-left">Video Gallery</h2>
        <hr>
        <% @videos.each do |video| %>
         <div class="col-md-3 col-sm-4 col-xs-6">
        <%= link_to video do %>
          <%= video_tag(video.video.url(:thumb), controls: true) %>
        <% end %>
          <p><%= video.date %>
            <%= link_to video, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-times"></i>
            <% end %>
          </p>
         </div>
        <% end %>
    </div>
  </div>
</div>
