<div class="container col-md-4 milestones-section">
  <h2>Milestones & Memories</h2>
  <hr>
  <ul class="timeline">
    <% @booksie_page.recent_milestones.each do |milestone| %>
      <li>
        <div class="timeline-panel">
          <div class="tl-body">
            <h4 class="milestone-date"><%= milestone.date.to_s(:long) %></h4>
            <p><%= milestone.post %></p>
            <hr>
            <!-- Show Icon -->
              <%= link_to milestone do %>
                <i class="milestone-icon fa fa-eye">View</i>
              <% end %>
            <!-- Edit Icon -->
              <%= link_to edit_milestone_path(milestone) do %>
                <i class="milestone-icon fa fa-pencil">Edit</i>
              <% end %>
            <!-- Destroy Icon -->
              <%= link_to milestone, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="milestone-icon fa fa-times">Delete</i>
              <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

